@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: rgb(75, 22, 105);
  --acc: rgb(110, 214, 228);
  
}
body {
  font-family: "Open Sans", serif;
  background: rgb(214,152,255);
  background: linear-gradient(90deg, rgba(214,152,255,1) 0%, rgba(184,244,255,1) 50%, rgba(199,255,111,1) 100%);
  color: var(--bg-color);
}

#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 2px solid var(--bg-color);
  border-radius: 10px;
  padding: 40px;
}

.weather__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.title-container__title {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin: 20px 0;
}

input[type="text"] { 
    margin: 15px;
    outline: none;
    border: none;
    height: 30px;
    border: 2px solid var(--bg-color);
    border-radius: 5px;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  height: 30px;
  width: 60px;
  background: rgb(210, 235, 255);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
}
input:-webkit-autofill {
    
}

button {
  
}

button:active {

}

.weather__info {
  
}

.weather__key {
  
}

.weather__key:last-child {
  
}

.weather__value {
  
}

.weather__error {
  
}

